body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.upload-container {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.upload-container:hover {
    border-color: #007bff;
}



.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#hexInput {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
}

#searchBtn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
}

#result {
    margin-top: 20px;
}

.upload-container {
    margin-bottom: 20px;
}

#logoCanvas {
    border: 1px solid #ccc;
    cursor: crosshair;
}
