body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

canvas {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
    background-color: #fff;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}



.colors div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.colors div:hover {
    transform: scale(1.2);
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkblue;
}


canvas, button {
    border-radius: 10px;
}
