body {
    font-family: Helvetica, sans-serif, sans-serif;
  }
  



  
  .floating-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #569fff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    cursor: pointer;
    outline: none;
  }
  
  .floating-button i {
    line-height: 56px;
  }
  
  .floating-button:active {
    background-color: lightblue;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
  }
  
  #search-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
  }


  svg {
    pointer-events: none;
  }
  

  #pagination-controls {
    display: none;
    justify-content: center;
    margin-top: 20px;
  }
  #pagination-controls button {
    background-color: transparent;  /* Transparent background */
    border: none;  /* Remove border */
    cursor: pointer;  /* Cursor style */
    border-radius: 50%;  /* Rounded corners */
    width: 48px;  /* Fixed width */
    height: 48px;  /* Fixed height */
    display: flex;  /* Flex layout */
    justify-content: center;  /* Center icon horizontally */
    align-items: center;  /* Center icon vertically */
    position: relative;  /* For the glow effect */
    overflow: hidden;  /* Hide overflow */
}

#pagination-controls button i.material-icons {
    font-size: 24px;  /* Icon size */
    color: hwb(208 5% 70%);  /* Icon color */
    transition: color 0.3s ease;  /* Transition effect */
}

#pagination-controls button::before {
    content: "";  /* Empty content */
    position: absolute;  /* Absolute positioning */
    top: 0;  /* Top edge */
    left: 0;  /* Left edge */
    width: 100%;  /* Full width */
    height: 100%;  /* Full height */
    background-color: #ffffff;  /* Background color */
    opacity: 0;  /* Initial opacity */
    transition: opacity 0.3s ease;  /* Transition effect */
    pointer-events: none;  /* No pointer events */
    box-shadow: 0px 0px 25px #12adeb;  /* Glow effect */
    border-radius: 50%;  /* Rounded corners */
}

#pagination-controls button:hover i.material-icons {
    color: rgb(20, 49, 92);  /* Text color on hover */
}

#pagination-controls button:hover::before {
    opacity: .5;  /* Opacity on hover */
}

  
  
  #logo-grid .logo-card .logo-id{
    font-weight:700;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height:18.2px;
    background-color:#000000;
    color:transparent;
    background-clip:text;
    top:261px;
    left:84px;
   }
   
   

   /* Paragraph */
   #logo-grid .logo-card p{
    text-align:center;
    font-weight:700;
    color:rgba(77,75,75,0.66) !important;
   }
   
   /* Image */
  
   

   #logo-grid .logo-card img {
    max-width: 100%;
    max-height: 120px; /* or whatever height you want */
    object-fit: contain;
    margin: auto;
  }


  #logo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container .svg-placeholder{
    width:100% !important;
    height:61px;
   }
   
   /* Svg */
   #a{
    position:relative;
    top:4px;
    transform:scale(0.69);
   }
   

   #logo-grid .logo-card .logo-id{
    background-color:transparent;
    color:rgba(77,75,75,0.66);
    text-align:left;
    letter-spacing:.1px;
    
   }
   
   /* Link */
   #logo-grid .logo-card a{
    transform:scale(0.79);
    background-color: rgba(255, 255, 255, 0.5);  /* White with 50% opacity */
    align-items:center;
    justify-content:center;
    color:#525050;

   }

  
   
   /* Logo card */
   #logo-grid .logo-card{
    transform:translatex(0px) translatey(0px);
    display:inline-flex;
    align-self:center;
    flex-direction:column;
    align-items:center;
   }

   

  a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: #007934;  /* Change this to your preferred background color */
    margin-top: 10px;
  }
  
  .material-icons {
    vertical-align: middle;
    margin-right: 5px;
  }
  
   

  #search-box {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:rgba(255,255,255,0.44);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  /* CSS */
.svg-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #search-box:focus {
    outline: none;
  }
  
  #search-box:hover {
    box-shadow: 0px 4px 12px rgba(0, 153, 255, 0.2);
  }
  

  /* Color picker */
#color-picker{
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;
    padding-top:15px;
    padding-bottom:23px;
   }

   
   
   
  
   .logo-card {
    position: relative;  /* Add this line */
    width: calc(20% - 20px);  /* Changed for 5x2 grid */
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.11);
    border: 2px solid transparent; /* Transparent border */
  }

  .selected {
    border: 2px solid rgb(0, 119, 255); /* or any other styling */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.11);
  }

  #exportToJpg i{
    width:20px;
    padding-left:2px;
    z-index:948;
   }
   

  .logo-id {
    position:static;
    top:261px;
    left:105px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
  }
  
  
  @media (min-width: 1024px) {
    .logo-card {
      width: calc(20% - 10px);
    }

    #logo-grid .logo-card{
      min-height:300px;
      position: relative;
     }

  }
  
  /* 2xN grid for mobile */
  @media (max-width: 768px) {
    .logo-card {
      width: calc(40%);
    }

    #color-picker{
      justify-content:space-between;
      flex-wrap:wrap;
      padding-left:0px;
      padding-right:0px;
      padding-top:16px;
      margin-top:-2px;
      line-height:18.9px;
      transform:translatex(0px) translatey(0px);
     }
     
     /* Division */
     #color-picker > div{
      padding-left:0px;
      margin-left:10px;
      margin-top:3px;
     }

    /* Logo grid */
 #logo-grid{
    transform:translatex(0px) translatey(0px);
   }
   
   /* Logo card */
   #logo-grid .logo-card{
    margin-left:5px;
    min-height: 300px;
    margin-right:5px;
    transform:translatex(0px) translatey(0px);
   }
   
   
   /* Link */
   #logo-grid .logo-card a{
    padding-top:10px;
    margin-top:27px;
   }

  }


    /* Print styles */
@media print {

  p {
    display: none !important;
  }
  /* Hide elements you don't want to print */
  .svg-placeholder {
    display: none !important;
  }

  /* Show the logo grid and its children */
  #logo-grid, #logo-grid * {
    visibility: visible;
  }

  /* Set the logo grid to start from the top left corner */
  #logo-grid {
    position: absolute;
    left: 0;
    top: 0;
  }


  #color-picker {
    display: none;
    visibility: hidden;
  }

   /* Logo grid */
 #logo-grid{
  padding-left:0px;
 }
 
 /* Container */
 .container{
  padding-left: 5px !important;
  padding-right: 5px !important;
  overflow:hidden;
 }
 
  
  #logo-grid .logo-card a {
    display: none;
    visibility: hidden;
  }

  #logo-grid .logo-card{
    display:inline-block;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    text-align:center;
    visibility:visible;
    flex:0 1 auto;
    padding-bottom:0px;
    min-height: 160px;
    max-height:160px;
    box-shadow:none;

   }


  
}

