.container {
    margin: 20px;
  }
  
  .filters {
    margin-bottom: 20px;
  }
  
  .logo-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    background-color: white;
  }
  