@import url("//fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

  .container {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  .canvas-container, .info-box, .download-box {
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .size-button {
    margin: 10px;
  }
  
  #logoCanvas {
    border: 1px solid black;
  }
  

  #tooltip {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
  }
  

/* Body */
body{
 background-color:#f4f4f4;
}

/* Info box */
.container .info-box{
 background-color:#ffffff;
 display:inline-flex;
 flex-direction:row;
 flex-wrap:nowrap;
 transform:translatex(0px) translatey(0px);
}

/* Size button */
.container .info-box .size-button{
 border-top-left-radius:8px;
 border-top-right-radius:8px;
 border-bottom-left-radius:8px;
 border-bottom-right-radius:8px;
 color:#ffffff;
 background-color:#2c3e50;
 padding-left:16px;
 padding-right:16px;
 padding-top:4px;
 padding-bottom:5px;
 font-size:16px;
 font-family:'Barlow Semi Condensed', sans-serif;
 text-transform:uppercase;
 font-style:normal;
 font-weight:600;
}

/* Download box */
.container .download-box{
 box-shadow:none;
 transform:translatex(0px) translatey(0px);
}

/* Button */
.container .download-box button{
 background-color:#2c3e50;
 border-width:0px;
 border-top-left-radius:8px;
 border-top-right-radius:8px;
 border-bottom-left-radius:8px;
 border-bottom-right-radius:8px;
 padding-left:12px;
 padding-right:12px;
 padding-top:8px;
 padding-bottom:8px;
 color:#f7f7f7;
 font-weight:600;
}

/* Heading */
.container h1{
 font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
 line-height:36.6px;
 font-size:25px;
}

